<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Semantic Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <style>
        header, footer { padding: 2px; }
    </style>
</head>
<body>
<header>Glove-Elastic Tool</header>
<main class="container">
    <form hx-post="/submit-form" hx-target="#response">
        <fieldset role="group">
            <input type="text" placeholder="Starting Term" name="name">
            <input type="submit" value="Analyze">
        </fieldset>
    </form>
    <div id="response"></div>
</main>
<footer>Tall-Gruber AS</footer>
<script>
document.querySelector('#response').addEventListener('click', function(e) {
    if (!event.target.classList.contains('cbox')) return;
    var dataId = e.target.dataset.id;
    var checkboxes = document.querySelectorAll('[data-id="' + dataId + '"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] !== e.target) {
            checkboxes[i].checked = false;
        }
    }
});
</script>
</body>
</html>
