<form hx-post="/submit-search" hx-target="#search-response" hx-trigger="change delay:1s">
  <table class="striped">
    <thead>
    <tr>
      <th scope="col">Term</th>
      <th scope="col">Positive</th>
      <th scope="col">Negative</th>
    </tr>
  </thead>
  <tbody>
{% for item in data %}
  <tr>
    <th scope="row">{{item[0]}}</th>
    <td><input type="checkbox" class="cbox" name="pro[]" value="{{item[0]}}" data-id="w{{1+loop.index0}}" /></td>
    <td><input type="checkbox" class="cbox" name="con[]" value="{{item[0]}}" data-id="w{{1+loop.index0}}" /></td>
  </tr>
 {% endfor %}
</table>
<!--input type="submit" value="Search" /-->
</form>
<div id="search-response"></div>